
html,
body {
    padding: 0;
    margin: 0;
    min-height: 100svh;
    max-width: 100vw;
    height: auto;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    scroll-behavior: auto;
    justify-content: space-between;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header {
    width: 100%;
    background-color: aqua;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
}

.footer {
    width: 100%;
    background-color: red;
    /* margin-top: auto; */
    padding-left: 1rem;
    padding-right: 1rem;
}


.button {
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    background-color: #525252;
    color: #fefefe;
    border-radius: 0.2rem;
}