<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: "#da373d"
          }
        }
      }
    }
  </script>
  <title>{% block title %}My App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="relative h-auto min-h-screen w-full overflow-x-hidden">
  <div class="flex w-full flex-row flex-wrap">
    <!-- basic navbar -->
    <nav class="fixed z-40 flex h-16 w-full basis-full flex-col bg-neutral-800">
      <div class="mx-auto h-16 w-full px-2 sm:px-6 lg:px-8">
        <div class="relative z-40 flex w-full items-center justify-between">
          <div class="flex flex-1 flex-col items-center justify-center sm:flex-row sm:justify-start sm:gap-8">
            <div class="mr-8 w-fit">
              <a href="/" class="relative flex h-16 w-56 flex-shrink-0 items-center justify-center p-2 drop-shadow-lg">
                <img width="200" height="50" class="h-8 w-32 object-contain"
                  src="{{ url_for('static', filename='publico/assets/logo_only.svg') }}" alt="Imagen del logo" />
              </a>
            </div>
          </div>

          <!-- menu dropdown para el usuario -->
          <div
            class="absolute right-0 top-4 flex w-fit items-center gap-1 pr-1 sm:static sm:inset-auto sm:inset-y-0 sm:ml-6 sm:gap-4 sm:pr-0">
            <input type="checkbox" name="usermenuopen" id="usermenuopen"
              class="peer/usermenuopen absolute right-5 top-5 hidden" />
            <label for="usermenuopen"
              class="group flex cursor-pointer items-center gap-1 rounded-md bg-neutral-900 px-2 py-1 text-neutral-400 transition-transform duration-100 ease-in hover:bg-neutral-700 peer-checked/usermenuopen:bg-neutral-700 peer-checked/usermenuopen:text-orange-300">
              <span class="sr-only">Abrir menu de usuario</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="hidden h-4 w-4 transition-all duration-100 group-hover:mt-1 md:block">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M6 9l6 6l6 -6" />
              </svg>
            </label>
            <div
              class="absolute right-0 top-14 h-0 w-48 origin-top-right scale-95 select-none overflow-hidden rounded-md bg-neutral-700/90 opacity-0 shadow-sm backdrop-blur transition-all duration-300 ease-in-out peer-checked/usermenuopen:block peer-checked/usermenuopen:h-auto peer-checked/usermenuopen:scale-100 peer-checked/usermenuopen:opacity-100">
              {% if not request.user.is_authenticated %}
              <a href="/login"
                class="flex items-center gap-4 hover:bg-neutral-900 px-4 py-2 text-sm text-neutral-200 hover:text-orange-200"
                role="menuitem" tabindex="{-1}" id="user-menu-item-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                  <path d="M21 12h-13l3 -3" />
                  <path d="M11 15l-3 -3" />
                </svg>
                Iniciar sesión
              </a>

              <a href="/registrar"
                class="flex items-center gap-4 hover:bg-neutral-900 px-4 py-2 text-sm text-neutral-200 hover:text-orange-200"
                role="menuitem" tabindex="{-1}" id="user-menu-item-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 3a3 3 0 0 0 -3 3v12a3 3 0 0 0 3 3" />
                  <path d="M6 3a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3" />
                  <path d="M13 7h7a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-7" />
                  <path d="M5 7h-1a1 1 0 0 0 -1 1v8a1 1 0 0 0 1 1h1" />
                  <path d="M17 12h.01" />
                  <path d="M13 12h.01" />
                </svg>
                Registrarme
              </a>
              {% else %}
              <p class="flex items-center text-center gap-4 underline text-sm font-medium px-4 py-2 text-orange-200">
                Hola, {{ user.first_name }} {{ user.last_name }}
              </p>

              <a href="/perfil"
                class="flex items-center gap-4 hover:bg-neutral-900 px-4 py-2 text-sm text-neutral-200 hover:text-orange-200"
                role="menuitem" tabindex="{-1}" id="user-menu-item-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M10 9a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
                  <path d="M4 16v2a2 2 0 0 0 2 2h2" />
                  <path d="M16 4h2a2 2 0 0 1 2 2v2" />
                  <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
                  <path d="M8 16a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2" />
                </svg>
                Ver Perfil
              </a>

              <!-- {% if perms.publico.empleado or perms.publico.admin %}
              <a
                href="/moderacion"
                class="flex items-center gap-4 hover:bg-neutral-900 px-4 py-2 text-sm text-neutral-200 hover:text-orange-200"
                role="menuitem"
                tabindex="{-1}"
                id="user-menu-item-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="h-5 w-5"
                >
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M6 21v-2a4 4 0 0 1 4 -4h2" />
                  <path
                    d="M22 16c0 4 -2.5 6 -3.5 6s-3.5 -2 -3.5 -6c1 0 2.5 -.5 3.5 -1.5c1 1 2.5 1.5 3.5 1.5z"
                  />
                  <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                </svg>

                Panel Moderacion
              </a>
              {% endif %} {% if perms.publico.admin %}
              <a
                href="/administracion"
                class="flex items-center gap-4 hover:bg-neutral-900 px-4 py-2 text-sm text-neutral-200 hover:text-orange-200"
                role="menuitem"
                tabindex="{-1}"
                id="user-menu-item-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="h-5 w-5"
                >
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  />
                  <path d="M12 9v4" />
                  <path
                    d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"
                  />
                  <path d="M12 16h.01" />
                </svg>
                Panel admin
              </a>
              {% endif %} -->
              <a href="/logout"
                class="flex items-center gap-4 hover:bg-neutral-900 px-4 py-2 text-sm text-neutral-200 hover:text-orange-200"
                role="menuitem" tabindex="{-1}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                  <path d="M9 12h12l-3 -3" />
                  <path d="M18 15l3 -3" />
                </svg>
                Cerrar sesión
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- input para la sidebar -->
    <input type="checkbox" name="sidebar-open" id="sidebar-open"
      class="peer/sidebaropen absolute left-5 top-5 hidden" />
    <label for="sidebar-open"
      class="fixed z-50 mt-2 top-2 sm:top-2 left-2 sm:left-[21rem] transition-all duration-75 rotate-180 peer-checked/sidebaropen:rotate-0 cursor-pointer rounded-md bg-neutral-700 px-2 py-1.5 text-neutral-400">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
        <path d="M9 4v16" />
        <path d="M14 10l2 2l-2 2" />
      </svg>

    </label>
    <!-- background blur para mobile -->
    <div class="fixed inset-0 z-50 bg-neutral-500/20 backdrop-blur peer-checked/sidebaropen:hidden md:hidden"></div>
    <!-- sidebar que se muestra siempre en desktop y en mobile se puede cerrar -->
    <aside
      class="pointer-events-none fixed left-0 z-50 flex h-screen w-full opacity-100 transition-all peer-checked/sidebaropen:-left-full sm:basis-4/12 md:relative lg:basis-3/12 peer-checked/sidebaropen:basis-0">
      <div
        class="pointer-events-auto fixed top-0 z-50 flex h-screen w-full max-w-[24rem] flex-shrink-0 flex-col gap-1 bg-neutral-800 text-base sm:max-w-[20rem] md:mt-16 md:h-[calc(100vh-4rem)]">
        <div class="flex flex-1 flex-col justify-between overflow-hidden">
          <nav class="space-y-6 overflow-y-auto px-8 py-2 md:px-10">
            <div class="space-y-3">
              <label for="sidebar-open"
                class="mb-4 ml-auto flex w-fit transform cursor-pointer items-center rounded-lg bg-neutral-900 px-3 py-2 text-neutral-400 transition-colors duration-300 md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="rotate-180">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                  <path d="M9 4v16" />
                  <path d="M14 10l2 2l-2 2" />
                </svg>

                <span class="mx-2 text-sm font-medium">Cerrar</span>
              </label>




              {% if sidebar_selected == "gestion-sitios-historicos" %}
              <a class="flex transform items-center rounded-lg bg-orange-300 px-3 py-2 text-gray-700 transition-colors duration-300 "
                href="/gestion-sitios-historicos">
                {% else %}
                <a class="flex transform items-center rounded-lg px-3 py-2 text-gray-300 transition-colors duration-300 hover:bg-gray-100 hover:text-gray-700"
                  href="/gestion-sitios-historicos">
                  {% endif %}

                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="h-5 w-5">
                    <path d="M10 18v-7" />
                    <path
                      d="M11.12 2.198a2 2 0 0 1 1.76.006l7.866 3.847c.476.233.31.949-.22.949H3.474c-.53 0-.695-.716-.22-.949z" />
                    <path d="M14 18v-7" />
                    <path d="M18 18v-7" />
                    <path d="M3 22h18" />
                    <path d="M6 18v-7" />
                  </svg>

                  <span class="mx-2 text-sm font-medium">Gestion de sitios historicos</span>

                </a>





                {% if sidebar_selected == "validacion-propuestas" %}
                <a class="flex transform items-center rounded-lg bg-orange-300 px-3 py-2 text-gray-700 transition-colors duration-300"
                  href="/validacion-propuestas">
                  {% else %}
                  <a class="flex transform items-center rounded-lg px-3 py-2 text-gray-300 transition-colors duration-300 hover:bg-gray-100 hover:text-gray-700"
                    href="/validacion-propuestas">
                    {% endif %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="h-5 w-5">
                      <path d="M17 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 1-1.732" />
                      <path d="m22 5.5-6.419 4.179a2 2 0 0 1-2.162 0L7 5.5" />
                      <rect x="7" y="3" width="15" height="12" rx="2" />
                    </svg>

                    <span class="mx-2 text-sm font-medium">Validacion de propuestas</span>
                  </a>
                  {% if sidebar_selected == "moderacion-resenias" %}
                  <a class="flex transform items-center rounded-lg bg-orange-300 px-3 py-2 text-gray-700 transition-colors duration-300"
                    href="/moderacion-resenias">
                    {% else %}
                    <a class="flex transform items-center rounded-lg px-3 py-2 text-gray-300 transition-colors duration-300 hover:bg-gray-100 hover:text-gray-700"
                      href="/moderacion-resenias">
                      {% endif %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="h-5 w-5">
                        <path
                          d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z" />
                        <path d="M7 11h10" />
                        <path d="M7 15h6" />
                        <path d="M7 7h8" />
                      </svg>

                      <span class="mx-2 text-sm font-medium">Moderacion de reseñas</span>
                    </a>



                    <!-- aca permitir o no la visualizacion del link segun rol del usuario -->
                    {% if perms.publico.administrador %}
                    {% if sidebar_selected == "gestion-usuarios" %}
                    <a class="flex transform items-center rounded-lg bg-orange-300 px-3 py-2 text-gray-700 transition-colors duration-300"
                      href="/gestion-usuarios">
                      {% else %}
                      <a class="flex transform items-center rounded-lg px-3 py-2 text-gray-300 transition-colors duration-300 hover:bg-gray-100 hover:text-gray-700"
                        href="/gestion-usuarios">
                        {% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-rosette-discount">
                          <path d="M10 15H6a4 4 0 0 0-4 4v2" />
                          <path d="m14.305 16.53.923-.382" />
                          <path d="m15.228 13.852-.923-.383" />
                          <path d="m16.852 12.228-.383-.923" />
                          <path d="m16.852 17.772-.383.924" />
                          <path d="m19.148 12.228.383-.923" />
                          <path d="m19.53 18.696-.382-.924" />
                          <path d="m20.772 13.852.924-.383" />
                          <path d="m20.772 16.148.924.383" />
                          <circle cx="18" cy="15" r="3" />
                          <circle cx="9" cy="7" r="4" />
                        </svg>

                        <span class="mx-2 text-sm font-medium">Gestion de usuarios</span>
                      </a>

                    </a>

                    {% endif %}
            </div>
          </nav>

        </div>
      </div>
    </aside>

    <!-- aca el contenido principal de la pagina -->
    <main
      class="flex h-full w-full flex-col items-center justify-center py-48 sm:basis-8/12 lg:basis-9/12 peer-checked/sidebaropen:basis-full">
      {% block content %}{% endblock %}
    </main>
  </div>
</body>

</html>