{% extends "basic-structure-w-sidebar.html" %}

{% block title %}Inicio | Mi Aplicación{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center py-10 text-center">
  <h1 class="text-3xl font-bold text-blue-900 mb-3">Bienvenido  👋</h1>
  <p class="text-gray-600 mb-6 max-w-2xl">
    Esta es la plataforma de administración de sitios históricos. Desde aquí podés gestionar los sitios,
    validar nuevas propuestas y moderar las reseñas enviadas por los usuarios.
  </p>
  
</div>


{% endblock %}