{% extends "common/tables_base.html" %}

{% block content %}
 <h2 class="text-2xl font-bold mb-4">Agregar Usuario</h2>
  {% call render_form(
        action=url_for('usuarios.agregar_usuario'),
        fields=[
          {"name": "nombre","label": "Nombre","type":"text","placeholder":"Nombre del usuario","required":True },
          {"name": "apellido","label":"Apellido del Usuario","type":"text","placeholder":"Apellido del Usuario","required":true},
          {"name": "email","label":"Email del usuario","type":"text","placeholder":"Email del usuario","required":true},
          {"name": "contraseña","label":"Contraseña","type":"text","placeholder":"Contraseña","required":True},
          {"name": "Activo(?)","label":"Activo","type":"checkbox","placeholder":"Activo","required":True, "checked":False},
          {"name": "rol","label":"Rol del Usuario","type":"select","options":[{"value":"PUBLICO","label":"Usuario Público"},{"value":"EDITOR","label":"Editor"},{"value":"ADMINISTRADOR","label":"Administrador"}],"required":True},
          {"name": "categoria","label":"Categoría","type":"text","placeholder":"Categoría del sitio","required":True},
          {"name": "visible" ,"label":"Visible","type":"checkbox","checked":True}
          ],
        submit_text="Agregar Usuario") %}
{%endblock%}