{% extends "basic-structure-w-sidebar.html" %}
{% from "common/_form.html" import render_form %}

{% block content %}
 <h2 class="text-2xl font-bold mb-4">Agregar Usuario</h2>
  {{render_form(
        action=url_for('users.add_user'),
        fields=[
          {"name": "nombre","label": "Nombre","type":"text","placeholder":"Nombre del usuario","required":True },
          {"name": "apellido","label":"Apellido del Usuario","type":"text","placeholder":"Apellido del Usuario","required":true},
          {"name": "email","label":"Email del usuario","type":"email","placeholder":"Email del usuario","required":true},
          {"name": "contraseña","label":"Contraseña","type":"text","placeholder":"Contraseña","required":True},
          {"name": "rol","label":"Rol del Usuario","type":"select","options":[{"value":"ADMINISTRADOR","label":"Administrador"}, {"value":"EDITOR","label":"Editor"}],"required":True},
          ],
        submit_text="Agregar Usuario") }}
{%endblock%}