{% extends "basic-structure-w-sidebar.html" %}

{% block content %}
<a 
    href="{{ url_for('users.index') }}"
    class="mb-4 inline-block rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 shadow hover:bg-gray-200"
>
    ← Volver al listado
</a>
<h2 class="text-2xl font-bold mb-4">Editar datos de usuario</h2>
<form method="POST" action="{{ url_for('users.edit_user', user_id=user.id) }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.nombre.label }}  
        {{ form.nombre(class="form-control", placeholder="Nombre Real del usuario") }}
    </div>
    <div class="mb-3">
        {{ form.apellido.label }}
        {{ form.apellido(class="form-control", placeholder="Apellido del usuario") }}
    </div>
    <div class="mb-3">
        {{ form.username.label }}
        {{ form.username(class="form-control", placeholder="Nombre de Usuario") }}
    </div>
    <div class="mb-3">
        {{ form.email.label }}
        {{ form.email(class="form-control", placeholder="Email del usuario") }}
    </div>
    <div class="mb-3">
        {{ form.rol_id.label }}
        {{ form.rol_id(class="form-select") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}