{% extends "basic-structure-w-sidebar.html" %}k
{% from "common/_form.html" import render_form %}

<!-- {% block title %}Nuevo Tag{% endblock %} -->

{% block content %}
  <h1 class="text-2xl font-bold mb-6">Crear Etiqueta</h1>
  {{ render_form(
      action=url_for('tags.add_tag_handler' ),
      fields=[
        {"name": "nombre", "label": "Nombre de la etiqueta", "type": "text", "placeholder": "Ingrese un nombre para la etiqueta", "required": True},
      ],
      submit_text="Crear"
  ) }}
{% endblock %}
