{% extends "layout.html" %}
{% from "common/_form.html" import render_form %}

<!-- {% block title %}Nuevo Tag{% endblock %} -->

{% block content %}
  <h1 class="text-2xl font-bold mb-6">Crear Tag</h1>
  {{ render_form(
      action=url_for('crear_tag'),
      fields=[
        {"name": "name", "label": "Nombre del tag", "type": "text", "placeholder": "Ingrese un nombre para el tag", "required": True},
        {"name": "slug", "label": "Slug", "type": "text", "placeholder": "Ingrese un slug", "required": True}
      ],
      submit_text="Crear"
  ) }}
{% endblock %}
