{% extends "common/tables_base.html" %}
{% from "common/filters_sidebar.html" import render_filters_sidebar, render_filter_button %}
{% from "common/order_selector.html" import render_order_selector %}

{% block table_title %}Etiquetas{% endblock %}

{% block add_url %}{{ url_for('tags.add_tag') }}{% endblock %}
{% block add_label %}Agregar etiqueta{% endblock %}

{% block table_filters %}
  <div class="flex items-center gap-3">
    <form method="get" class="flex flex-wrap items-center gap-2 text-sm">
      <!-- Buscar -->
      <input type="text" name="busqueda" placeholder="Buscar..." value="{{ request.args.get('busqueda','') }}" class="h-9 w-40 rounded-md border border-gray-400 bg-white px-3 text-gray-800 placeholder-gray-400
              focus:border-blue-500 focus:ring-2 focus:ring-blue-400" />

      <!-- Botones -->
      <button type="submit" class="h-9 rounded-md bg-blue-600 px-4 text-white font-medium shadow-sm
            hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-1">
        Aplicar
      </button>

      <a href="{{ url_for('tags.index') }}" class="h-9 inline-flex items-center justify-center rounded-md bg-gray-300 px-4 text-gray-800 font-medium shadow-sm
            hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-1">
        Limpiar
      </a>
    </form>
    
    <!-- Selector de orden -->
    {% set order_options = [
      {'value': 'fecha_desc', 'label': 'Fecha (más recientes)'},
      {'value': 'fecha_asc', 'label': 'Fecha (más antiguos)'},
      {'value': 'nombre_asc', 'label': 'Nombre (A–Z)'},
      {'value': 'nombre_desc', 'label': 'Nombre (Z–A)'}
      ] %}
      {{ render_order_selector(order_options, order or '', url_for('tags.index'), request.args.to_dict(flat=False)) }}
  </div>
{% endblock %}

{% block table_headers %}
  <th>Nombre</th>
  <th>Slug</th>
  <th>Fecha de creación</th>
  <th>Última modificación</th>
  <th>Acciones</th>
{% endblock %}

{% block table_rows %}
  {% for tag in items %}
  <tr class="text-center">
    <td>{{ tag.name }}</td>
    <td>{{ tag.slug }}</td>
    <td>{{ tag.created_at.strftime("%d/%m/%Y %H:%M") }}</td>
    <td>{{ tag.updated_at.strftime("%d/%m/%Y %H:%M") }}</td>

    {% set edit_url = url_for('tags.edit_tag', tag_id=tag.id) %}
    {% set delete_url = url_for('tags.delete_tag', tag_id=tag.id) %}
    {% include "common/actions.html" %}
  </tr>
  {% endfor %}
{% endblock %}

{% block content %}
  {{ super() }}
  {% include "common/delete_modal.html" %}
{% endblock %}
